* {
    margin: 0;
    padding: 0;

}


.rana {
    max-width: 1000px;
   margin: 80px auto;
}
  
.my-btn {
    border-radius: 8px;
    padding: 5px;
    font-weight: 600;
    border: 1px solid #006a50;
    color: #006a50;
}
.my-btn2 {
    border-radius: 8px;
    font-weight: 600;
    background: rgba(0, 106, 80, 1);
    color: white;
    padding: 20px 25px;
    max-width: max-content;
}
.container {
    max-width: 1350px;
    margin: auto; 
    padding: 20px; 
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background: rgba(198, 228, 214, 1);
   
}


.link-parent {
    display: flex;
    align-items: center;
    gap: 22px;
    list-style: none;
}

.link-parent a {
    text-decoration: none;
}

  /* hero  */
.hero-parent {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    /* background: rgba(198, 228, 214, 1); */
    background-image: linear-gradient(rgba(190,140,140,0.3), rgba(190,100,100,0.5)),url(./assets/soroar3.jpg);
    border-radius: 24px;
    padding: 70px;
    margin: 20px auto;
    max-width: 950px;
    background-size: cover;
}

.hero-parent h2 {
    /* color: rgba(14, 14, 14,0.5); */
    color: rgb(209, 208, 208);
    font-size: 20px;
    font-weight: 500;
}
.hero-parent p {
    font-weight: 700;
    font-size: 40px;
    /* color: rgba(14, 14, 14, 1); */
    color: rgb(212, 211, 211);
    margin: 20px 0;
}

.pillars {
    max-width: 1000px;
    margin: 80px auto;

}
.title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}

.pillars-card {
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pillars-card img {
    width: 40px;
    height: 40px;
}

.parent-card {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
/* Recent news */

.recent-news {
    margin-bottom: 15px;
}
.Recent h2 {
    font-weight: 800;       
    font-size: 35px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 8px;

}
.Recent p {
    color: rgba(14, 14, 14, 1);
}


.card-news {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.news2 {
    border-radius: 15px;
    width: 200px;
}


.card2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.al-jazeera {
    width: 134px;
    height: 40px;
}

.row {
    flex-direction: row-reverse;
}



/* Donate Today */

.Donate-Today {
    background-color: rgb(223, 223, 222);
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
}
.Donate {
    padding: 20px 30px;
}
.Donate h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    padding: 25px;
    margin: 20px 25px;
}
.Today p {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.my-btn3:hover {
    background-color: rgba(198, 228, 214, 1);
}
.taka {
    max-width: max-content;
    font-weight: bolder;
    gap: 70px;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    display: flex;
}

.my-btn3 {
    border-radius: 10px;
    font-weight: bolder;
    font-size: 13px;
    background: white;
    color: black;
    padding: 20px;
    margin: 30px;
    max-width: max-content;
    justify-content:space-between;
    align-items: end;
    border: none;
}

.Subsscribe {
    padding: 30px 40px;
    /* width: 500px; */

}

.newsletter {
    background-color: rgba(198, 228, 214, 1);
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
}

.Subsscribe h1 {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    padding: 25px;
    margin: 10px ;
}


.Subsscribe p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}


.search {
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

.but {
    width: 90%;
    border-radius:  3px;
    border-right: none;

}

.my {
    width: 15%;
    border-radius:  2px;
    border-left: none;
    background-color: #006a50;
    color: white;
}

.pragrep {
    margin: 20px;
}





















